body {
  background: #E5E5E5;
}

@import url('https://rsms.me/inter/inter.css');

.container {
  display: flex;
  flex-direction: column;
  padding: 36px;
  max-width: 1010px;
  box-sizing: border-box;
  background-color: #f0f2f5;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 995px) {
  .items_container {
    justify-content: center;
  }
}