body {
  background: #E5E5E5 url("https://w.wallhaven.cc/full/wy/wallhaven-wy69oq.jpg") no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@import url('https://rsms.me/inter/inter.css');

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //min-height: 100vh;
  padding: 36px;
  min-width: 1010px;
  max-width: 1010px;
  box-sizing: border-box;
  background-color: #f0f2f5;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 995px) {
  .items_container {
    justify-content: center;
  }
}
