/* Error: expected "{".
 *    ,
 * 32 | .arrow
 *    |       ^
 *    '
 *   Pages.scss 32:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 32 \2502  .arrow\a    \2502        ^\a    \2575 \a   Pages.scss 32:7  root stylesheet';
}
