.items_container {
  width: 100%;
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2px;
  padding-left: 0px;
  min-width: 938px;
}

.movie_item {
  list-style-type:none;
}

.counts {
  padding-left: 50px;
  line-height: 34px;
  background-color: #002140;
  color: white;
  font-size: 16px;
  border-radius: 0 35px 0 0;
  margin-bottom: 4px;
}

.network-e {
  background-color: red;
  width: 100%;
  color: #FAFAFA;
  text-align: center;
  font-size: 120%;
}

.itemListSpin {
  width: 100%;
}