.items_container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2px;
  padding-left: 0px;
}

.movie_item {
  list-style-type:none;
}

.counts {
  text-align: center;
}

.network-e {
  background-color: red;
  width: 100%;
  color: #FAFAFA;
  text-align: center;
  font-size: 120%;
}