.items_container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2px;
}

.ggg {
  list-style-type:none;
}